@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    src: url("Montserrat-Regular.ttf") format('truetype');
}

* {
    font-family: Montserrat;
}

html {
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
}

#sourceBin {
    display: inline-block;
    position: relative;
    width: 200px;
}

#selectCurrentBin {
    display: inline-block;
    position: relative;
    width: 25px;
    height: 20px;
    border-radius: 10px;
    background-color: #252525;
    color: #999999;
    text-align: center;
    margin-top: 7px;
}

#selectCurrentBin:hover {
    cursor: pointer;
    color: #BBBBBB;
}


#footerDiv {
    width: 100vw;
    height: 30px;
    display: inline-block;
    position: relative;
    background-color: #303030;
}